<h1 style="text-align: center;">Insira seu Setor</h1>
<form [formGroup]="setorForm" (ngSubmit)="setSetor()" class="form-container">
    <mat-form-field>
        <mat-label>Setor</mat-label>
        <mat-select formControlName="setor" id="" matNativeControl required>
            <mat-option value="1">Galpão dos pneus</mat-option>
            <mat-option value="2">bancada 01 até 09</mat-option>
            <mat-option value="3">bancada 10 até 18</mat-option>
            <mat-option value="4">bancada 19 até 27</mat-option>
            <mat-option value="5">Recebimento</mat-option>
            <mat-option value="6">Consulta</mat-option>
            <mat-option value="7">Logística</mat-option>
            <mat-option value="8">Devolução</mat-option>
            <mat-option value="9">(Orleon) bancada 1 até 3</mat-option>
            <mat-option value="10">(Orleon) bancada 4 e 5</mat-option>
            <mat-option value="11">(Orleon) bancada 6 e 7</mat-option>
            <!-- <mat-option value="99">TI (TESTE)</mat-option> -->
        </mat-select>
    </mat-form-field>
    <button type="submit" class="submit-button">Entrar</button>
</form>