node_modules/
.env
ETIQUETA_CODBARRAS.prn
ETIQUETA_CODMAXX.prn
ETIQUETA_EXCESSO.prn
ETIQUETA_FRAGIL.prn
ETIQUETA_GARANTIA.prn
ETIQUETA_LADOPARACIMA.prn
ETIQUETA_LOCACAO.prn
ETIQUETA_PNEU.prn
ETIQUETA_REMETENTE.prn
ETIQUETA_SEGURANCA.prn
ETIQUETA_VOLUME.prn
ETIQUETA_VOLUMECONFER.prn