<div class="rowDescr">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="form-container">
        <label for="numped" style="font-size: 20px;"><p style="text-align: center;">Pesquisar por cód. interno e fabricante</p></label>
        <br>
        <div class="divETQcheck">

            <input type="checkbox" class="checkbox" formControlName="filtro" id="">
            <h3>Filtrar somente Código Interno</h3>
        </div>
        <input type="text" class="input-field" formControlName="codigo" #meuInput (keyup)="onKeyup()"
            placeholder="070005">
        <hr>
        <br>
        <form [formGroup]="descrForm" (ngSubmit)="onSubmitDescr()">
            <label for="numped" style="font-size: 24px;"><p style="text-align: center;">Pesquisar pela descrição</p></label>
            <br>
            <input type="text" class="input-field" formControlName="descr" #meuInputDescr (keyup)="onKeyupDescr()"
                placeholder="PNEU 100/80-18 MA...">
        </form>
    </form>
</div>
<div class="table">
    <table class="tabela-consultas" *ngIf="consultas && !consultaBoolean">
        <thead>
            <tr>
                <th>Código</th>
                <th>Fabricante</th>
                <th>Descrição</th>
                <th>Modelo</th>
                <th>Disponível</th>
                <th>Locação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consulta of consultas">
                <td><strong>{{ consulta.codinterno }}</strong></td>
                <td>{{ consulta.codfor }}</td>
                <td>{{ consulta.descr }}</td>
                <td>{{ consulta.modelo }}</td>
                <td>{{ consulta.disponivel }}</td>
                <td><strong>{{ consulta.tloc }}</strong></td>
            </tr>
        </tbody>
    </table>
</div>