.result-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
}

.result-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
}

.result-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.result-item:last-child {
    border-bottom: none;
}

.result-label {
    font-weight: bold;
    color: #444;
    font-size: 22px;
}

.result-value {
    color: #007bff;
    font-size: 22px;
    font-weight: bold;
}
.form-container {
    box-shadow: 0 0.5em 1.2em black;
}
.divETQcheck{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5em;
}
.rowDescr {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    width: 50em;
    max-height: 50em;
    justify-content: center;
    margin: 10px auto;
    margin-bottom: 30px;
}
.tabela-consultas {
    width: 90%;
    border-collapse: collapse;
    font-size: 20px;
    margin: 2em 5em;
    border-radius: 8px;
    box-shadow: 0 0.5em 1.2em black;
  }
  
  .tabela-consultas th, .tabela-consultas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona "..." caso o texto seja muito longo */
  }
  
  .tabela-consultas thead {
    background-color: #4e9ffc;
    font-weight: bold;
  }
  
  .tabela-consultas tr:nth-child(even) {
    background-color: #e7f2ff;
  }
  
  .tabela-consultas tr:hover {
    background-color: #72b3fd;
  }
  