<mat-tab-group *ngIf="setor">
    <mat-tab label="Volume" *ngIf="!orleon"><app-volume></app-volume></mat-tab>
    <mat-tab label="Pneu" *ngIf="!orleon"><app-pneu></app-pneu></mat-tab>
    <mat-tab label="Locação" *ngIf="!orleon"><app-locacao></app-locacao></mat-tab>
    <mat-tab label="Locação-Orleon" *ngIf="orleon"><app-locacao-orleon></app-locacao-orleon></mat-tab>
    <mat-tab label="Código de Barras"><app-codbarras></app-codbarras></mat-tab>
    <mat-tab label="Garantia" *ngIf="!orleon"><app-garantia></app-garantia></mat-tab>
    <mat-tab label="Frágil"> <app-fragil></app-fragil></mat-tab>
    <mat-tab label="Correio" *ngIf="!orleon"><app-correio></app-correio></mat-tab>
    <mat-tab label="Consulta" *ngIf="!orleon"><app-consulta></app-consulta></mat-tab>
    <mat-tab label="Volume/Conferente" *ngIf="!orleon"><app-conf></app-conf></mat-tab>
    <mat-tab label="Maxx BR" *ngIf="!orleon"><app-maxx></app-maxx></mat-tab>
    <mat-tab label="Excesso"> <app-excesso></app-excesso></mat-tab>
    <mat-tab label="Segurança"> <app-seguranca></app-seguranca></mat-tab>
    <mat-tab label="Lado para Cima"><app-lado></app-lado></mat-tab>
</mat-tab-group>



<router-outlet *ngIf="!setor"></router-outlet>